In [1]:
import pyspark

In [2]:
pyspark.__file__

'C:\\tools\\spark-3.3.2-bin-hadoop3\\python\\pyspark\\__init__.py'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .config('spark.ui.port', '4041') \
    .getOrCreate()

In [6]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-13 05:06:26--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.107.144, 52.216.34.176, 54.231.233.104, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.107.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 3.30M=0.004s

2024-03-13 05:06:27 (3.30 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [7]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [10]:
df.write.parquet('zones')

In [11]:
!ls -lh

total 833M
-rw-r--r-- 1 user 197121 246K Mar  3 15:38 04_pyspark.ipynb
-rw-r--r-- 1 user 197121  18K Mar  5 23:53 05_taxi_schema.ipynb
-rw-r--r-- 1 user 197121  20K Mar  6 02:40 06_spark_sql.ipynb
-rw-r--r-- 1 user 197121  12K Mar 13 05:01 07_groupby_join.ipynb
-rw-r--r-- 1 user 197121  837 Mar  2 22:56 SparkScripts.sh
drwxr-xr-x 1 user 197121    0 Mar  6 02:30 data
-rw-r--r-- 1 user 197121  542 Mar  3 23:47 download_data.sh
-rw-r--r-- 1 user 197121 115M Nov 21  2022 fhv_tripdata_2019-10.csv
drwxr-xr-x 1 user 197121    0 Mar  3 12:30 fhvhv
-rw-r--r-- 1 user 197121 718M Jul 14  2022 fhvhv_tripdata_2021-01.csv
-rw-r--r-- 1 user 197121 6.3K Mar  3 15:32 head.csv
-rw-r--r-- 1 user 197121 6.4K Mar  6 03:24 head_october.csv
-rw-r--r-- 1 user 197121    0 Mar  6 03:19 head_october.parquet
drwxr-xr-x 1 user 197121    0 Mar  6 03:41 homework
drwxr-xr-x 1 user 197121    0 Mar  6 03:43 spark-warehouse
-rw-r--r-- 1 user 197121  13K Jan 29 08:54 taxi+_zone_lookup.csv
-rw-r--r-- 1 user 197121  13K Aug 17  2016 taxi+_zone_lookup.csv.1
-rw-r--r-- 1 user 197121  16K Mar 11 00:30 week_5_homework_solution.ipynb
drwxr-xr-x 1 user 197121    0 Mar 13 05:07 zones
-rw-r--r-- 1 user 197121 3.9K Mar 13 05:06 zones_test.ipynb